/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 15/04/2026 16:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMER](
	[C_ID] [int] NOT NULL,
	[C_NAME] [varchar](50) NOT NULL,
	[C_GENDER] [varchar](20) NOT NULL,
	[C_ADDRESS] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LoginForms]    Script Date: 15/04/2026 16:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoginForms]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LoginForms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[oderMaster]    Script Date: 15/04/2026 16:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[oderMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[oderMaster](
	[invoice] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[datetime] [datetime] NULL,
	[GrandTotal] [int] NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 15/04/2026 16:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Invoice] [int] NULL,
	[Item_Name] [nvarchar](100) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[Total] [int] NULL,
	[Discount] [int] NULL,
	[SubTotal] [int] NULL,
	[Tax] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Signup]    Script Date: 15/04/2026 16:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Signup]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Signup](
	[User Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[gender] [int] NOT NULL,
	[age] [varchar](max) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Table_tbl]    Script Date: 15/04/2026 16:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Table_tbl]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Table_tbl](
	[Item_Id] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [varchar](100) NULL,
	[Item_Price] [decimal](10, 2) NULL,
	[Item_Discount] [decimal](10, 2) NULL,
	[PurchasePrice] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Table_tbl_Backup]    Script Date: 15/04/2026 16:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Table_tbl_Backup]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Table_tbl_Backup](
	[Item_Id] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [varchar](100) NULL,
	[Item_Price] [decimal](10, 2) NULL,
	[Item_Discount] [decimal](10, 2) NULL,
	[PurchasePrice] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LoginForms] ON 

INSERT [dbo].[LoginForms] ([ID], [USERNAME], [PASSWORD]) VALUES (1, N'Rohit ', N'12345')
SET IDENTITY_INSERT [dbo].[LoginForms] OFF
GO
SET IDENTITY_INSERT [dbo].[oderMaster] ON 

INSERT [dbo].[oderMaster] ([invoice], [username], [datetime], [GrandTotal], [CustomerName], [Phone]) VALUES (1, N'Saksham ', CAST(N'2026-04-07T15:28:08.230' AS DateTime), 1215, N'Arvind', N'91xxxxxxxx')
INSERT [dbo].[oderMaster] ([invoice], [username], [datetime], [GrandTotal], [CustomerName], [Phone]) VALUES (2, N'Saksham ', CAST(N'2026-04-07T15:29:24.717' AS DateTime), 37, NULL, NULL)
INSERT [dbo].[oderMaster] ([invoice], [username], [datetime], [GrandTotal], [CustomerName], [Phone]) VALUES (3, N'Saksham ', CAST(N'2026-04-07T15:32:17.520' AS DateTime), 3335, N'Shiv', N'xxxxxxxxxx')
SET IDENTITY_INSERT [dbo].[oderMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [Invoice], [Item_Name], [Price], [Quantity], [Total], [Discount], [SubTotal], [Tax]) VALUES (1, 1, N'A3', 20, 30, 556, 2, 540, 16)
INSERT [dbo].[OrderDetails] ([Id], [Invoice], [Item_Name], [Price], [Quantity], [Total], [Discount], [SubTotal], [Tax]) VALUES (2, 1, N'B2', 69, 10, 659, 5, 640, 19)
INSERT [dbo].[OrderDetails] ([Id], [Invoice], [Item_Name], [Price], [Quantity], [Total], [Discount], [SubTotal], [Tax]) VALUES (3, 2, N'A1', 20, 2, 37, 2, 36, 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Signup] ON 

INSERT [dbo].[Signup] ([User Id], [name], [surname], [gender], [age], [address], [email], [password]) VALUES (13, N's', N'', 0, N'0', N'', N'', N'')
INSERT [dbo].[Signup] ([User Id], [name], [surname], [gender], [age], [address], [email], [password]) VALUES (20, N'', N'', 0, N'0', N'', N'', N'')
INSERT [dbo].[Signup] ([User Id], [name], [surname], [gender], [age], [address], [email], [password]) VALUES (22, N'Saksham', N'Gupta', 0, N'12', N'Noida', N'sg23@gmail.com', N'112345')
SET IDENTITY_INSERT [dbo].[Signup] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_tbl] ON 

INSERT [dbo].[Table_tbl] ([Item_Id], [Item_Name], [Item_Price], [Item_Discount], [PurchasePrice], [Stock]) VALUES (10, N'A1', CAST(10.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), 200)
INSERT [dbo].[Table_tbl] ([Item_Id], [Item_Name], [Item_Price], [Item_Discount], [PurchasePrice], [Stock]) VALUES (11, N'A2', CAST(20.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), 50)
INSERT [dbo].[Table_tbl] ([Item_Id], [Item_Name], [Item_Price], [Item_Discount], [PurchasePrice], [Stock]) VALUES (12, N'A3', CAST(30.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), 180)
SET IDENTITY_INSERT [dbo].[Table_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_tbl_Backup] ON 

INSERT [dbo].[Table_tbl_Backup] ([Item_Id], [Item_Name], [Item_Price], [Item_Discount], [PurchasePrice], [Stock]) VALUES (19, N'A4', CAST(20.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Table_tbl_Backup] ([Item_Id], [Item_Name], [Item_Price], [Item_Discount], [PurchasePrice], [Stock]) VALUES (22, N'A6', CAST(45.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Table_tbl_Backup] ([Item_Id], [Item_Name], [Item_Price], [Item_Discount], [PurchasePrice], [Stock]) VALUES (23, N'B1', CAST(59.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[Table_tbl_Backup] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Item_Name]    Script Date: 15/04/2026 16:54:44 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Table_tbl]') AND name = N'UQ_Item_Name')
ALTER TABLE [dbo].[Table_tbl] ADD  CONSTRAINT [UQ_Item_Name] UNIQUE NONCLUSTERED 
(
	[Item_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ItemName]    Script Date: 15/04/2026 16:54:44 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Table_tbl]') AND name = N'UQ_ItemName')
ALTER TABLE [dbo].[Table_tbl] ADD  CONSTRAINT [UQ_ItemName] UNIQUE NONCLUSTERED 
(
	[Item_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
